@font-face {
    font-family: 'font';
    src: url('./gin.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'korea';
    src: url('./korea.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
*{
    box-sizing: border-box;
}
h1{
    font-family: korea;
    color: white;
    font-size: 10rem;
    text-align: center;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 5em;
    font-family: 'font';
    padding-bottom: 1em;
    padding-top: 1em;
    color: white;
    position: relative;
    z-index: 4;
}
header>img{
    width: 10%;
}
ul{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    list-style-type: none;
    font-size: 1.8rem;
    font-weight: 500;
    margin-right: 10rem;
}
#landingBG{
    padding: 0;
    margin: 0;
}
body>img{
    object-fit:fill;
    width: 100%;
    position: absolute;
    z-index: -1;
}
section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
    border-radius: 6px;
    margin: 3rem;
}
.red{
    color: red;
}
body{
    background-image: url('./landingBG.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
li{
    cursor: pointer;
}
li:hover{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 2rem;
}
img{
    cursor: pointer;
}
body > section > div{
    background-color: white;
    min-width: 50vh;
    padding: 2em;
    height: auto;
    border: 4px solid black;
}
h2,h3,h4,h5,h6{
    text-align: center;
    font-family: font;
}
h2{
    font-size: 3rem;
}
h3{
    padding: 1rem;
    font-size: 2rem;
    border-bottom: 1px solid black;
}
h4{
    font-size: 3rem;
    font-family: font;
}
.foodPrice{
    display: flex;
    justify-content: space-evenly;
}
h3{
    font-size: 3rem;
}
h6{
    font-size: 1.5rem;
    font-family: korea;
    border-bottom: 5px solid black;
    padding: 0.5rem;
}